.container-fluid{
    background: rgba(0, 0, 0, 0.6);
    height: 100vh;
}
.sidebar{
    background-color: #d2b48c;
}

.sidebar ul{
    list-style: none;
    text-indent: 0;
    padding: 0;
}

.sidebar li{
    cursor: pointer;
    display: block;
    background-color: black;
    color: white;
    border-radius: 10px;
}

.sidebar li.active{
    background: green;
}

.gender-button{
    cursor: pointer;
    display: block;
    background-color: black;
    color: white;
    border-radius: 10px;
    width: 50px;
    font-size: 30px;

}

.gender-button.active{
    background: green;
}

.continue-button{
    display: block;
    cursor: pointer;
    color: white;
    background: green;
    border: none;
    border-radius: 10px;
}

.continue-button.disabled{
    background: black;
    cursor: auto;
}